@import url(./reset.css);

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 6fr 1fr 1fr;
    align-content: start;
    justify-items: center;
    align-items: center;
    background: #b1b5bd;
    color: #fff;
}

.header {
    grid-row: 1 / span 1;
    background-color: #9f2063;
    padding: 3px 80px;
    border-radius: 7px;
    width: 267px;
}

.aside2 {
    grid-row: 2 / span 1;
    background-color: #186292;
    padding: 3px 80px;
    justify-items: center;
    align-items: center;
    border-radius: 7px;
    margin: 10px;
    width: 267px;
}

.main {
    align-self: stretch;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 267px;
    background: #31b67f;
    border-radius: 7px;
}

.article {
    align-self: stretch;
    background-color: #e1255b;
    padding: 20px 80px;
    justify-items: center;
    align-items: center;
    align-content: center;
    border-radius: 7px;
    margin: 10px;
}

.aside {
    background-color: #186292;
    padding: 3px 80px;
    justify-items: center;
    align-items: center;
    border-radius: 7px;
    margin: 10px;
    width: 267px;
}

.footer {
    background-color: #de6d34;
    padding: 3px 80px;
    justify-items: center;
    align-items: center;
    border-radius: 7px;
    margin: 10px;
    margin-top: 0px;
    width: 267px;
}